@keyframes entry {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.createForm {
    display: flex; 
    flex-direction: column; 
    gap: 1rem;
    max-width: 400px;
}

.create {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.create h1 {
    animation: entry 0.8s ease-in-out;
}

.create input,
.create select {
    background-color: white;
    height: 5vh;
    color: black;
    font-size: 1rem;
    border-radius: 10px;
    opacity: 0;
    animation: entry 0.8s ease-in-out 0.8s forwards;
}

.create textarea {
    background-color: white;
    height: 10vh;
    color: black;
    font-size: 1rem;
    border-radius: 10px;
    opacity: 0;
    animation: entry 0.8s ease-in-out 0.8s forwards;
}

.create button {
    opacity: 0;
    animation: entry 0.8s ease-in-out 1.6s forwards;
}