@keyframes entry {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reminders {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70vw;
    align-items: center;
    min-height: 100vh;
}

.reminder {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #5e63b6;
    width: 40%;
    min-height: 7.5rem;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.359);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.addNext,
.emptyTitle {
    opacity: 0;
    animation: entry 0.8s ease-in-out 0.1s forwards;
}

.reminder:hover {
    background-color: #5e62b666;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.45);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header button {
    height: 2rem;
    margin-top: 1rem;
}

.actions {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: absolute;
    z-index: 1000;
    background-color: #4f3b78;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    border-radius: 10px;
    padding: 0;
}

.dropdown li {
    cursor: pointer;
    list-style-type: none;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
}

.dropdown li:first-child:hover {
    border-radius: 10px 10px 0 0;
    background-color: rgb(151, 144, 158);
}

.dropdown li:last-child:hover {
    border-radius: 0 0 10px 10px;
    background-color: rgb(151, 144, 158);
}