.reminders {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vh;
    align-items: center;
}

.reminder {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(28, 4, 51);
    width: 80%;
    align-items: flex-start;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header button {
    height: 2rem;
    margin-top: 1rem;
}

.actions {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: absolute;
    z-index: 1000;
    background-color: rgb(132, 0, 255);
    display: flex;
    flex-direction: column;
    margin-top: 0;
    border-radius: 10px;
    padding: 0;
}

.dropdown li {
    cursor: pointer;
    list-style-type: none;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
}

.dropdown li:first-child:hover {
    border-radius: 10px 10px 0 0;
    background-color: rgb(100, 0, 200);
}

.dropdown li:last-child:hover {
    border-radius: 0 0 10px 10px;
    background-color: rgb(100, 0, 200);
}