@keyframes entry {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.choose {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.chooseTitle {
    animation: entry 1s ease-out;
}

.chooseButtonFirst {
    opacity: 0;
    width: 30%;
    animation: entry 1s ease-out 1s forwards;
}

.chooseButtonSecond {
    opacity: 0;
    width: 30%;
    animation: entry 1s ease-out 2s forwards;
}