@keyframes entry {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome h1 {
    animation: entry 1s ease-out;
    font-size: 9rem;
}